.main {
  height: 100px;
  background-color: rgb(46, 42, 39);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: rgb(197, 192, 192);
}

.links {
  all: unset;
  cursor: pointer;
  position: relative;
  bottom: -30px;
}
